html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
}

/* =========================TYPOGRAPHY========================= */

body {
  background-color: #d5d4d4;
}

/* =========================CLASSES========================= */
